.Header {
    background-color: var(--bg-color-content);
    box-sizing: border-box;
    text-align: center;
}

.Header_container {
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 34px;
}